.page.d-flex.flex-column.align-items-center.full-width.full-min-height
  // nav
  .header-subtemplate{model:'user__me', variant:'nav'}

  // info about the page, breadcrumbs, page model settings
  .page-name-heading.full-width.relative.d-flex.flex-column.align-items-center
    .full-width.d-flex.justify-content-end
      .settings-subtemplate{variant:'settings'}
    .width-10.d-flex.flex-column.align-items-center
      .page-type> 
        Your Content
      %h1.no-top-margin.max-width-12
        %span.name
          .editName-subtemplate{variant:'textwithform', name_field:'name', title_field:'${name|<type your name on the site>}', placeholder_field:"Type your name and press enter"}
      %h6.max-width-12
        %span.name
          .editBlurb-subtemplate{variant:'textwithform', lines_field:'multi', name_field:'bio', title_field:'${bio|<type something about yourself>}', placeholder_field:"Type a short something about you then press enter"}


  // posts
  %h3.page-content-heading.width-10-responsive{style:'${posts?|display:none !important;}'}
    Your posts
  .width-10.d-flex.justify-content-center.flex-wrap.bottom-margin-1rem
    %span.model-drag-space{dragcontextmodelid:'${{__basemodel}}', dragcontextfield:'tags'}
      &nbsp;
    .posts-model-child{variant:'draggablenameanchorlinkbubble', contextmodel_field:'${{__baseparentmodel}}', contextfield_field:'tags', order_field:'topLevelSortOrdinal'}
  .d-flex.flex-column.width-10-responsive{style:'${posts?|display:none !important;}'}
    .page-table.d-flex.justify-content-center.flex-wrap
      .posts-model-child.grow-1.full-width{variant:'tablerow', style:'order: ${topLevelSortOrdinal};'}
        .model-placeholder

  .page-next.width-10-responsive{style:'${posts?|display:none !important;}'}




  .footer-subtemplate{model:'user__me', variant:'footer'}
