.hover-dimmer.pushModel.fade-in-model
  .container-fluid
    .row
      .sig.lead
        .editName-subtemplate{variant:'textwithform', name_field:'name', title_field:'${name|Please type your name on the site}', placeholder_field:"Type your new name and press enter"}
      .bio
        .editBio-subtemplate{variant:'textwithform', lines_field:'multi', name_field:'bio', title_field:'${bio|Tell us something about yourself}', placeholder_field:"Type a bio for your account, just a little public blurb, then press enter)"}
