.page.d-flex.flex-column.align-items-center.full-width.full-min-height
  // nav
  .header-subtemplate{model:'user__me', variant:'nav'}

  // info about the page, breadcrumbs, page model settings
  .page-name-heading.full-width.relative.d-flex.flex-column.align-items-center
    .full-width.d-flex.justify-content-between
      .breadcrumbs-subtemplate{variant:'pagebreadcrumbs'}
        .subtemplate-uses-parent-model-child{variant:'parentbreadcrumbs'}
      &nbsp;
    .width-10.d-flex.flex-column.align-items-center
      .page-type
        Content byy
      %h1.no-top-margin.max-width-12
        %span.name
          ${name||'unnamed user'}
      %h6.wsprewrap.max-width-12> 
        ${bio||''}


  // posts
  %h3.page-content-heading.width-10-responsive{style:'${posts?"":"display:none !important;"}'}
    Posts
  .width-10.d-flex.justify-content-center.flex-wrap.bottom-margin-1rem
    .posts-model-child{variant:'nameanchorlinkbubble', order_field:'topLevelSortOrdinal'}
  .d-flex.flex-column.width-10-responsive{style:'${posts?"":"display:none !important;"}'}
    .page-table.d-flex.justify-content-center.flex-wrap
      .posts-model-child.grow-1.full-width{variant:'tablerow', style:'order: ${topLevelSortOrdinal};'}
        .model-placeholder




  .footer-subtemplate{model:'user__me', variant:'footer'}
