.hover-dimmer.post.pushModel
  %span.body.lead
    .editBody-subtemplate{variant:'textwithform', name_field:'body', title_field:'${body}', placeholder_field:"Type a new body for the post and press enter"}
  %span.pull-right.dim-unless-hover
    .delete-model-child
