%nav.navbar.navbar-default.center.full-width
  .navbar-header
    .brandlink-subtemplate{variant:"brandlink"}
  %ul.nav.navbar-nav.links-container
    %li.links-member
      .model-placeholder
  %ul.nav.navbar-nav.navbar-right.rightLinks-container
    %li.rightLinks-model-child
      .model-placeholder.using-parent-model
    %li.signIn-subtemplate{variant:'loginform'}
      .subtemplate-placeholder

