.container
  .col-md-2
  .col-md-8
    %h1.text-center
      Users:
    %table.table.table-hover.users
      %tbody.users-container
        %tr.users-model-child{variant:'tablerow'}
          %td
            .model-placeholder
